@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager


@if (SignInManager.IsSignedIn(User))
{

    @if(UserManager.GetUserName(User).Equals("adm@gmail.com"  )){ // Password:Admin123.
        
     
       
        <li class="nav-item">
            <a class="nav-link text-white" asp-area="" asp-controller="Producto" asp-action="Index">Registrar Prenda</a>
        </li> 

 

    }else{
      
    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-white" asp-area="" asp-controller="Home" asp-action="Index">Inicio</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" asp-area="" asp-controller="Catalogo" asp-action="Index">Catalogo</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" asp-area="" asp-controller="Nosotros" asp-action="Index">Nosotros</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" asp-area="" asp-controller="Contactanos" asp-action="Create">Contactanos</a>
                        </li>
                        <li class="nav-item">

        <a class="nav-link text-white bi bi-cart" asp-area="" asp-controller="Proforma" asp-action="Index"><img src="~/img/carroblanco.png"class="carrito" width="40"></a>
    </li>  
                         
    </ul>
    }
}
else
{
       <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-white" asp-area="" asp-controller="Home" asp-action="Index">Inicio</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" asp-area="" asp-controller="Catalogo" asp-action="Index">Catalogo</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" asp-area="" asp-controller="Nosotros" asp-action="Index">Nosotros</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" asp-area="" asp-controller="Contactanos" asp-action="Create">Contactanos</a>
                        </li>
                         
                    </ul>
}