@{
    ViewData["Title"] = "Nosotros";
}

<br>
<p> </p>

<br>
 
  <div class="section-title" style="text-align: center;">
      <h1 data-aos="fade-in" style="color:#000000"><strong style="font-family: Georgia, Times, Times New Roman, serif;">Angela Store</strong></h1>
      <h6 data-aos="fade-in" style="font-family: Georgia, Times, Times New Roman, serif;">Conozca nuestros inicios , Objetivos y valores</h6>
			<p> </p>
  </div>
</br>




<hr class="featurette-divider">

    <div class="row featurette"> <!--Card 1-->
      <div class="col-md-7"><p> </p>
        <h2 class="featurette-heading"style="text-align: center;color:#000000;"><strong style="font-family:Rockwell, Courier Bold, Courier, Georgia, Times, Times New Roman, serif;">¿Quienes somos?</strong></h2>
        <p> </p>
        <p class="lead" style="font-family: Palatino, Palatino Linotype, Palatino LT STD, Book Antiqua, Georgia, serif;color:#000000">Nace como un pequeño proyecto de venta de ropa online. 
          Tras varios meses en el mercado, el proyecto comienza a crecer a pasos agigantados y Angela Store pasa a ser un gran referente en cuestiones de vanguardia.
          Nos encanta la moda y para ello hacemos posible que las nuevas tendencias tengan cabida en nuestro catálogo. 
          Si deseas encontrar moda a un precio más asequible en nuestra sección de ofertas lo podrás encontrar.</p>
      </div>

      <div class="col-md-5">
        <img src="/img/nosotros1.jpg" style="height: 400px; width: 600px;"  >
      </div>
    </div>

    <hr class="featurette-divider">  <!--Card 2-->
    <div class="row featurette">
      <div class="col-md-7 order-md-4">
        <h2 class="featurette-heading"style="text-align: center;color:#000000"><strong style="font-family:Rockwell, Courier Bold, Courier, Georgia, Times, Times New Roman, serif;">Objetivos</strong></h2>
        <p> </p>
        <p class="lead" style="font-family: Palatino, Palatino Linotype, Palatino LT STD, Book Antiqua, Georgia, serif;color:#000000" > Es ofrecer la moda más actual a los mejores precios.
          Tenemos a su disposición una gran variedad de productos, los cuales son renovados cada temporada para dar siempre las prendas más trendy.
          Tenemos un equipo que está dedicado a satisfacer tus necesidades y que te contestará a tus dudas con la mayor brevedad posible. </p>
      </div>
      <div class="col-md-5 order-md-8">
        <img src="/img/nosotros3.jpg" style="height: 400px; width: 600px;"  >

      </div>
    </div>

    <hr class="featurette-divider"> <!--Card -->
    <div class="row featurette">
      <div class="col-md-7"><p> </p>
        <h2 class="featurette-heading" style="text-align: center;color:#000000"><strong style="font-family:Rockwell, Courier Bold, Courier, Georgia, Times, Times New Roman, serif;">Valores</strong></h2>
        <p> </p>
        <h2 class="lead"><li style="font-family: Palatino, Palatino Linotype, Palatino LT STD, Book Antiqua, Georgia, serif;color:#000000">Responsabilidad</li></h2>
        <h2 class="lead"><li style="font-family: Palatino, Palatino Linotype, Palatino LT STD, Book Antiqua, Georgia, serif;color:#000000">Pasión</li></h2>
        <h2 class="lead"><li style="font-family: Palatino, Palatino Linotype, Palatino LT STD, Book Antiqua, Georgia, serif;color:#000000">Integridad</li></h2>
        <h2 class="lead"><li style="font-family: Palatino, Palatino Linotype, Palatino LT STD, Book Antiqua, Georgia, serif;color:#000000">Transparencia</li></h2>
      </div>
      <div class="col-md-5">
        <img src="/img/nosotros2.jpg" style="height: 400px; width: 600px;"  >
        
      </div>
    </div>

    <hr class="featurette-divider">









  
  