@{
    ViewData["Title"] = "Nosotros";
}

<br>
<br>
 
 <div class="section-title" justify-content="Center">
          <h2 data-aos="fade-in"> Angela Store</h2>

        </div>

        <br>


     <section id="about" class="about section-bg">
      <div class="container">

        <div class="row">
          <div class="image col-xl-5 d-flex align-items-stretch justify-content-center justify-content-lg-start">

              <img src="https://64.media.tumblr.com/973be86c40072f72945dbcc85d7aae23/c7b8e9059fa3dc24-99/s1280x1920/ec6937ffaaa829c195c0ad77702af36bf4e20d39.jpg" style="height: 400px; width: 480px"  >
          </div>
          <div class="col-xl-7 pl-0 pl-lg-5 pr-lg-1 d-flex align-items-stretch">
            <div class="content d-flex flex-column justify-content-center">
              
              <p data-aos="fade-in">
                Nace como un pequeño proyecto de venta de ropa para mujer online. Tras varios meses en el mercado, el proyecto comienza a crecer a pasos agigantados y<strong> Angela Store</strong> pasa a ser un referente a nivel nacional en cuanto a pronto moda.
              </p>
              <div class="row">
                <div class="col-md-6 icon-box" data-aos="fade-up">
                  <i class="bx bx-receipt"></i>
                  <h4>Nuestros Valores</h4>                 
                  <p>Responsabilidad, pasion, integridad, Trasparencia.</p>
                </div>
                <div class="col-md-6 icon-box" data-aos="fade-up" data-aos-delay="100">
                  <i class="bx bx-images"></i>
                  <h4>Imagenes de ropas con mucha nitidez</h4>
                  <p>Nuestras ropas que son seleccionado cuentas con una alta calidad en las imagenes </p>
                </div>
                <div class="col-md-6 icon-box" data-aos="fade-up" data-aos-delay="200">
                  <i class="bx bx-pencil"></i>
                  <h4>Ropas de escritores importantes</h4>
                  <p>Tenemos todos las ropas de los escritores mas importantes</p>
                </div>
                <div class="col-md-6 icon-box" data-aos="fade-up" data-aos-delay="300">
                  <i class="bx bx-shield"></i>
                  <h4>Protección</h4>
                  <p>Nuestros ropas cuentan con todas las medidas de protección.</p>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </section>

  
  