@model App_AngelaStore.Models.Producto

@{
    ViewData["Title"] = "Angela Store";
}

<p> </p>
<p> </p>
<p> </p>
<div class="section-title" style="text-align: center;">
          <h1 ><strong style="font-family: Georgia, Times, Times New Roman, serif;color:#000000">Editar Prendas Registradas</strong></h1>
          <h6 style="font-family: Georgia, Times, Times New Roman, serif;">Modificar las prendas registradas completando el siguiente formulario</h6>

</div>
<p> </p>

<div class="row justify-content-center">
    <div class="col-md-6">
        <form  asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ID" />
            
            <div class="form-group " style="text-align: left;">
                <strong style="font-family:Rockwell, Courier Bold, Courier, Georgia, Times, Times New Roman, serif;color:#000000;">Marca</strong>
                <input asp-for="Marca" class="form-control" />
                
            </div>                  
                   
            <div class="form-group " style="text-align: left;">
                <strong style="font-family:Rockwell, Courier Bold, Courier, Georgia, Times, Times New Roman, serif;color:#000000;">Codigo</strong>
                <input asp-for="Codigo" class="form-control" />

            </div>               
               
              <div class="form-group " style="text-align: left;">
                <strong style="font-family:Rockwell, Courier Bold, Courier, Georgia, Times, Times New Roman, serif;color:#000000;">Material</strong>
                <input asp-for="Material" class="form-control" />

            </div>      
              <div class="form-group " style="text-align: left;">
                <strong style="font-family:Rockwell, Courier Bold, Courier, Georgia, Times, Times New Roman, serif;color:#000000;">Descripción</strong>
                <input asp-for="Descripcion" class="form-control" />
            </div>      
              <div class="form-group " style="text-align: left;">
                <strong style="font-family:Rockwell, Courier Bold, Courier, Georgia, Times, Times New Roman, serif;color:#000000;">Color de Prenda</strong>
                <input asp-for="Color" class="form-control" />
            </div>
            <div class="form-group " style="text-align: left;">
                <strong style="font-family:Rockwell, Courier Bold, Courier, Georgia, Times, Times New Roman, serif;color:#000000;">Cantidad de Prendas en Stock</strong>
                <input asp-for="Stock" class="form-control" />
            </div>
              <div class="form-group " style="text-align: left;">
                <strong style="font-family:Rockwell, Courier Bold, Courier, Georgia, Times, Times New Roman, serif;color:#000000;">Precio de Prendas</strong>
                <input asp-for="Precio" class="form-control" />
            <div class="form-group " style="text-align: left;">
                <strong style="font-family:Rockwell, Courier Bold, Courier, Georgia, Times, Times New Roman, serif;color:#000000;">Descripcion de Prendas</strong>
                <input asp-for="Descripcion" class="form-control" />
            </div>
            <div class="form-group " style="text-align: left;">
                <strong style="font-family:Rockwell, Courier Bold, Courier, Georgia, Times, Times New Roman, serif;color:#000000;">URL Prenda </strong>
                <input asp-for="imagen" class="form-control" />
            </div> 
             
            <div class="form-group center" style="text-align: center;">
                 <button type="submit" class="btn btn-info">Actualizar</button> 
                 <a href="~/Producto/Listar"  class="btn btn-danger" >Regresar a Lista</a>
            </div>                

        </form>
            
    
    </div>
</div>
</div>
</section>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
<script>
    document.querySelector('#Editar').addEventListener('submit', function(e) {
      var form = this;
      
      e.preventDefault();
      
      swal({
          title: "¿Está seguro de la acción?",
          text: "Esto cambiará los datos del producto",
          icon: "warning",
          buttons: [
            'Cancelar',
            'Continuar'
          ],
          dangerMode: true,
        }).then(function(isConfirm) {
          if (isConfirm) {
           
              form.submit();
          
          } else {
            swal("Acción cancelada", "El producto no se ha modificado", "error");
          }
        });
    });

    
  </script>
  
  <style>
    .swal-button--confirm {
      background-color: #DD6B55;
    }
  </style>