@model App_AngelaStore.Models.Producto

@{
    ViewData["Title"] = "Angela Store";
}

<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<p> </p>
<p> </p>
<p> </p>
<section id="catalogue" class="catalogue section-bg" style="text-align: center;">
<div class="section-title" style="text-align: center;">
      <h1 data-aos="fade-in" ><strong style="font-family: Georgia, Times, Times New Roman, serif;color:#000000">Registrar Producto</strong></h1>
      <h6 data-aos="fade-in" style="font-family: Georgia, Times, Times New Roman, serif;">Complete los campos con informacion de la prenda</h6>
			<p> </p>
  </div>

<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-6" style="font-family:Palatino, Palatino Linotype, Palatino LT STD, Book Antiqua, Georgia, serif">

   <form asp-controller="Producto" asp-action="Enviar">
       <div class="form-group formM" style="text-align: left;">
                <strong style="font-family:Rockwell, Courier Bold, Courier, Georgia, Times, Times New Roman, serif;color:#000000;">Marca</strong>
                <input asp-for="Marca" class="form-control"/>
                <span asp-validation-for="Marca" class="text-danger"></span>
        </div class="form-group">

              <div class="form-group formM" style="text-align: left;">
                <strong style="font-family:Rockwell, Courier Bold, Courier, Georgia, Times, Times New Roman, serif;color:#000000;">Codigo</strong>
                <input asp-for="Codigo" class="form-control"/>
                <span asp-validation-for="Codigo" class="text-danger"></span>

            </div>
            
               <div class="form-group formM" style="text-align: left;">
                <strong style="font-family:Rockwell, Courier Bold, Courier, Georgia, Times, Times New Roman, serif;color:#000000;">Material</strong>
                <input asp-for="Material" class="form-control"/>
                <span asp-validation-for="Material" class="text-danger"></span>

            </div>
          <div class="form-group formM" style="text-align: left;">
                <strong style="font-family:Rockwell, Courier Bold, Courier, Georgia, Times, Times New Roman, serif;color:#000000;">Descripción</strong>
                <input asp-for="Descripcion" class="form-control"/>
                <span asp-validation-for="Descripcion" class="text-danger"></span>

            </div>

              <div class="form-group formM" style="text-align: left;">
                <strong style="font-family:Rockwell, Courier Bold, Courier, Georgia, Times, Times New Roman, serif;color:#000000;">Color de Prenda</strong>
                <input asp-for="Color" class="form-control"/>
                <span asp-validation-for="Color" class="text-danger"></span>

            </div>

               <div class="form-group formM" style="text-align: left;">
                <strong style="font-family:Rockwell, Courier Bold, Courier, Georgia, Times, Times New Roman, serif;color:#000000;">Cantidad de Prendas en Stock</strong>
                <input asp-for="Stock" class="form-control"/>
                <span asp-validation-for="Stock" class="text-danger"></span>

            </div>

               <div class="form-group formM" style="text-align: left;">
                <strong style="font-family:Rockwell, Courier Bold, Courier, Georgia, Times, Times New Roman, serif;color:#000000;">Precio de Prendas</strong>
                <input asp-for="Precio" class="form-control"/>
                <span asp-validation-for="Precio" class="text-danger"></span>

            </div>
            
            <div class="form-group formM" style="text-align: left;">
                <strong style="font-family:Rockwell, Courier Bold, Courier, Georgia, Times, Times New Roman, serif;color:#000000;">Descripcion de Prendas</strong>
                <textarea asp-for="Descripcion" class="form-control"></textarea>
            </div> 

            <div class="form-group formM" style="text-align: left;">
                <strong style="font-family:Rockwell, Courier Bold, Courier, Georgia, Times, Times New Roman, serif;color:#000000;">URL Prenda </strong>
                <input asp-for="imagen" class="form-control"></input>
                <span type="text" asp-validation-for="imagen" class="text-danger"></span>
            </div> 

              <div class="form-group text-center" >
              <button type="submit" class="btn btn-dark">Registrar</button>
               
              <button asp-action="Listar" class="btn btn-danger"> Cancelar</button>
              </div>
              
   </form>

</div>
</div>
</div>
</section>