@model App_AngelaStore.Models.Proforma

@{
    ViewData["Title"] = "Edit";
}
<p> </p>
<p> </p>
<p> </p>

<div class="section-title" style="text-align: center;">
          <h1 data-aos="fade-in" ><strong style="font-family: Georgia, Times, Times New Roman, serif;color:#000000">Editar Compra</strong> </h1>
          <h6 data-aos="fade-in" style="font-family: Georgia, Times, Times New Roman, serif;">Modifique la cantidad de productos a pagar</h6>
			
</div>
  
<p> </p>


<div class="container">
    <div class="card" style="border: none;">
        <div class="row">
            <div class="col-md-5">
                
                    <a asp-area="" asp-controller="Home" asp-action="Info">
                    <img class="card-img-top" style="height: 400px; width: 100%; " src="/img/store6.jpg">
                    </a>
                
            </div>
            <div class="col-md-6">
                <div class="container" >
                    <h5><li style="color:#000000;font-family:Rockwell, Courier Bold, Courier, Georgia, Times, Times New Roman, serif;"><strong style="font-family:Rockwell, Courier Bold, Courier, Georgia, Times, Times New Roman, serif;">Precio:</strong> S/.@Model.Precio.00</li></h5>
                    <form asp-controller="Proforma" asp-action="Edit">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="Id" />
                    <input type="hidden" asp-for="UserID" />
                    <input type="hidden" asp-for="Precio" />
                
                    <div class="form-group">
                        <h5><li style="color:#000000;font-family:Rockwell, Courier Bold, Courier, Georgia, Times, Times New Roman, serif;"><strong style="font-family:Rockwell, Courier Bold, Courier, Georgia, Times, Times New Roman, serif;">Cantidad de Productos:</strong></li></h5>
                        <input asp-for="Stock" class="form-control" />
                        <span asp-validation-for="Stock" class="text-danger"></span>
                    </div>
                    <div class="form-group" style="text-align: center;">
                        <input type="submit" value="Guadar" class="btn btn-danger" ></input>
                        <a class="btn btn-dark" asp-action="Index">Regresar</a>
                    </div>
                <div>
                
            </div>
                </form>
            </div>
            
        </div>
    </div>
    
    
</div>

<p> </p>




