@model App_AngelaStore.Models.Proforma

@{
    ViewData["Title"] = "Edit";
}
<p> </p>
<p> </p>
<div class="container" >
  
  <div class="section-title" style="text-align: center;">
          <h1 data-aos="fade-in" style="font-family: Georgia, Times, Times New Roman, serif;color:#000000"><strong>Editar Compra</strong> </h1>
          <h6 data-aos="fade-in" style="font-family: Georgia, Times, Times New Roman, serif;">Modifique la cantidad de productos a pagar</h6>
			<p> </p>
		</div>
  
</div>
<hr />
<div class="row" >
    <div class="col-md-6" >
        <form asp-controller="Proforma" asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <input type="hidden" asp-for="UserID" />
            <input type="hidden" asp-for="Precio" />
            <div class="form-group">
                <label asp-for="Stock" class="control-label"></label>
                <input asp-for="Stock" class="form-control" />
                <span asp-validation-for="Stock" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Guadar" class="btn btn-primary" ></input>
            </div>
        </form>
    </div>
</div>

<div>
    <a class="btn btn-dark" asp-action="Index">Regresar</a>
</div>

